version: '3.3'
services:
    db:
        image: postgres
        restart: always
        env_file: 
            - ../../autodir/autoweb/.env
        expose:
            - 5432
        volumes:
            - ../db/psql-init/db.sql:/docker-entrypoint-initdb.d/db.sql
            - postgres_data:/var/lib/postgresql/data/

    db_bot:
        image: postgres
        restart: always
        env_file: 
            - ../../botdir/alpacabot/.env
        expose:
            - 5432
        volumes:
            - ../db/psql-init/db.sql:/docker-entrypoint-initdb.d/db-bot.sql
            - postgres_data_bot:/var/lib/postgresql/data/bot/
    nginx-proxy:
        image: jwilder/nginx-proxy
        restart: always
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - /var/run/docker.sock:/tmp/docker.sock:ro
            - certs:/etc/nginx/certs:ro
            - vhostd:/etc/nginx/vhost.d
            - html:/usr/share/nginx/html
        labels:
            - com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy
    letsencrypt:
        image: jrcs/letsencrypt-nginx-proxy-companion
        restart: always
        environment:
            - NGINX_PROXY_CONTAINER=nginx-proxy
        volumes:
            - certs:/etc/nginx/certs:rw
            - vhostd:/etc/nginx/vhost.d
            - html:/usr/share/nginx/html
            - /var/run/docker.sock:/var/run/docker.sock:ro
    autoweb:
        build:
            context: ../../autodir/autoweb
            dockerfile: Dockerfile.autoweb
        environment:
            - PORT=8000
            - VIRTUAL_HOST=automotoraferrgut.cl,www.automotoraferrgut.cl
            - LETSENCRYPT_HOST=automotoraferrgut.cl,www.automotoraferrgut.cl
            - LETSENCRYPT_EMAIL=yllorca@helloworl.cl
        env_file:
            - ../../autodir/autoweb/.env
        expose:
            - 8000
        volumes:
            - static_cdn:/home/yllorca/autodir/static_cdn/
        restart: always
        depends_on:
            - db
    alpacabot:
        build:
            context: ../../botdir/alpacabot
            dockerfile: Dockerfile.alpacabot
        environment:
            - PORT=8001
        env_file:
            - ../../botdir/alpacabot/.env
        expose:
            - 8001
        volumes:
            - static_alpaca_bot:/home/yllorca/botdir/static_cdn/
        restart: always
        depends_on:
            - db_bot
    nginx:
        build:
            context: ../nginx
            dockerfile: Dockerfile.nginx            
        expose:
            - 80
        restart: always
        depends_on:
            - autoweb
            - nginx-proxy
            - letsencrypt
        volumes:
            - ../../autodir/autoweb/static_cdn:/home/yllorca/autoweb/static_cdn/
volumes:
    postgres_data_bot:
    postgres_data:
    static_cdn:
        external: true
    static_alpaca_bot:
        external: true
    certs:
    html:
    vhostd:

